<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mar&iacute;a Santi - Contacto</title>
<link rel="stylesheet" type="text/css" href="estilos.css"/>
<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<link href="favicon.ico" rel="shortcut icon"  type="image/x-icon" />
</head>

<body id="interiores">
<div id="cabecera">
<div id="cont-cabecera">
<h1>mar&iacute;a santi </h1>
<div id="menu">
<ul>
  <li><a href="obra.html">obra</a></li>
  <li><a href="muestras.html">muestras</a></li>
  <li><a href="biografia.html">bio</a></li>
  <li><a href="obra-anterior.html">obra anterior</a></li>
  <li><a href="contacto.php">contacto</a></li>
  <li><a href="index.html">inicio</a></li>
</ul>
</div><!--cierra menu-->
</div><!--cierra cont-cabecera-->
</div><!--cierra cabecera-->

<div id="cuerpo">
<h2>Contacto</h2>
<h3>Gracias por comunicarte</h3>
</div>
<!--cierra cuerpo-->
<div id="pie">&copy; Mar&iacute;a Santi 2011</div>
</body>
</html>